Repository SevenOfNine-ai/proton-lfs-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, check-doc-links

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: gofmt
        entry: gofmt -w
        language: system
        types: [go]

      - id: go-vet
        name: go vet
        entry: go vet ./cmd/... ./internal/...
        language: system
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'if command -v golangci-lint >/dev/null 2>&1; then golangci-lint run ./cmd/... ./internal/...; elif [ -x "$HOME/go/bin/golangci-lint" ]; then "$HOME/go/bin/golangci-lint" run ./cmd/... ./internal/...; else echo "golangci-lint not installed; skipped"; fi'
        language: system
        pass_filenames: false

      - id: go-test-adapter
        name: go test adapter
        entry: bash -c 'mkdir -p .cache/go-build && GOCACHE=$PWD/.cache/go-build go test ./cmd/adapter/...'
        language: system
        pass_filenames: false

      - id: go-test-config
        name: go test config
        entry: bash -c 'mkdir -p .cache/go-build && GOCACHE=$PWD/.cache/go-build go test ./internal/config/...'
        language: system
        pass_filenames: false

      - id: check-doc-links
        name: check doc links
        entry: ./scripts/check-doc-links.sh
        language: system
        pass_filenames: false
        files: \.(md)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ["--maxkb=5000"]

docs(ci): fix broken links in copilot-instructions.md
  .github/copilot-instructions.md
Due: check-doc-links

ci(docs): checkout submodules and exclude expected 404s
  .github/workflows/docs.yml
  .lychee.toml
Due: none

refactor: rename project from proton-git-lfs to proton-lfs-cli
  .env.example
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release-bundle.yml
  .github/workflows/test.yml
  .lychee.toml
  CLAUDE.md
  Makefile
  README.md
  USAGE.md
  book.json
  cmd/adapter/config_constants.go
  cmd/adapter/main.go
  cmd/tray/cli.go
  cmd/tray/cli_test.go
  cmd/tray/connect.go
  cmd/tray/main.go
  cmd/tray/menu.go
  cmd/tray/status.go
  cmd/tray/traylog.go
  docs/architecture/architecture.md
  docs/operations/releasing.md
  go.mod
  internal/config/config.go
  package.json
  scripts/autostart/com.proton.git-lfs-tray.plist
  scripts/ensure-info-plist.sh
  scripts/install-adapter.sh
  scripts/package-bundle.sh
  tests/integration/git_lfs_custom_transfer_config_matrix_test.go
  tests/integration/git_lfs_custom_transfer_test.go
  tests/integration/git_lfs_custom_transfer_timeout_semantics_test.go
  tests/integration/git_lfs_e2e_mock_test.go
  tests/integration/git_lfs_sdk_backend_test.go
  yarn.lock
Due: go-fmt, check-doc-links

ci(docs): exclude renamed repo URLs until GitHub repo renamed
  .lychee.toml
Due: none

chore: update lychee exclusions after repo rename
  .lychee.toml
Due: none

fix(release): write changelog to file to avoid GitHub Actions EOF issue
  .github/workflows/release-bundle.yml
Due: none

fix(release): use git-cliff directly instead of action
  .github/workflows/release-bundle.yml
Due: none
